@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,600;1,600&display=swap');

.projectsContainer
{
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
}

.projectsContainer > h1
{
    padding-bottom: 15px;
}

.projectsContainer > p
{
    padding-bottom: 20px;
}

.projectsContainer__projects
{
    display: flex;
    width: 65vw;
    margin-top: 50px;
    flex-wrap: wrap;
}